<?xml version='1.0' encoding='utf-8'?>
<widget id="com.danielmamelo.LookyFindMe" version="1.0.0"  xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>LookyFindMe</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <preference name="permissions" value="INTERNET" />
    <gap:plugin name="com.ququplay.websocket.websocket" version="0.1.0" />
    <gap:plugin name="https://github.com/mkuklis/phonegap-websocket" source="npm" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.12" />
    <gap:plugin name="org.apache.cordova.device-motion" version="0.2.11" />
    <gap:plugin name="org.apache.cordova.device-orientation" version="0.3.11" />
    <gap:plugin name="org.apache.cordova.device" version="0.3.0" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <access origin="*.google.com" />
    <access origin="*.googleapis.com" />
    <access origin="*.gstatic.com" />
    <access origin="*.googleusercontent.com" />
    <access origin="google.com" subdomains="true"/>
    <access origin="googleapis.com" subdomains="true"/>
    <access origin="gstatic.com" subdomains="true"/>
    <access origin="googleusercontent.com" subdomains="true"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^4.1.1" />
</widget>
